*.pyc
*.pyo
*~
venv/
ComprasSpider/ComprasSpider/crawls
ComprasSpider/ComprasSpider/log.txt
ComprasSpider/ComprasSpider/schedulers
ComprasSpider/ComprasSpider/cancelled_nogs.txt
ComprasVisibles/ComprasVisibles/settings_secret.py
