{% extends 'GCEstadisticas/base.html' %}
{% load static %}



{% block custom_scripts  %}
    <script src="{% static 'GCEstadisticas/PunchCard.js' %}"></script>
{% endblock %}

{% block title %}Cantidad gastada por dia (sumarización para todas las entidades){% endblock %}
            
{% block date_picker %}
    <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start" value="{{start_date}}" autocomplete="off" />
        <span class="input-group-addon">a</span>
        <input type="text" class="input-sm form-control" name="end" value="{{end_date}}" autocomplete="off" />
    </div>
    <span class="input-group">
        <button id="btnActualizar" class="btn btn-default" type="button">Actualizar</button>
    </span>
{% endblock %}


{% block visualization %}
    <div id="visualization" class="visualization">
    </div>
{% endblock %}


{% block visualization_code %}
    <script>
        jQuery('.input-daterange').datepicker({
            language: "es",
            format: "yyyy-mm-dd",
            autoclose: true
        });

        var gbd;

        jQuery(document).ready(function() {
            gbd = Object.create(PunchCard);
            gbd.setup("#visualization",15,"{{start_date}}","{{end_date}}","{% url 'visualizaciones:entidad_pagos_index'%}");
            d3.json("{% url 'visualizaciones:entidad_pagos_index' %}{{start_date}}/{{end_date}}", gbd.draw);
        });

        jQuery('#btnActualizar').on('click', function(event){
            gbd.changeDates(jQuery('input[name=start]').val(),jQuery('input[name=end]').val());
            d3.json("{% url 'visualizaciones:entidad_pagos_index' %}"+jQuery('input[name=start]').val()+"/"+jQuery('input[name=end]').val(), gbd.draw);
        });

    </script>
    
{% endblock %}
